* {
    font-family: "Product Sans";
}
body {
    background-color: rgb(60, 60, 60);
    color: #fff;
}
body a {
    color: white;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
}
/* .grandparent {
    background-color: red;
    width: 200px;
    height: 200px;
}
.parent {
    background-color: blue;
    width: 150px;
    height: 150px;
}
.child {
    background-color: green;
    width: 100px;
    height: 100px;
} */