/* .item {
    color: red;
} */
#container .item {
    color: blue;
}
/* #active {
    color: red;
} */

/* #container .item .active {
    color: red;
} */
/* #container .item.active {
    color: red;
} */
#container .div.item.active {
    color: red;
}