@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
:root {
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphicText: hsl(167, 40%, 24%);
    --photoText: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);

    --darkDesatBlue: hsl(212, 27%, 19%);
    --darkGrayBlue: hsl(213, 9%, 39%);
    --darkGrayBlue: hsl(232, 10%, 55%);
    --grayBlue: hsl(210, 4%, 67%);
}
body {
    background-color: var(--graphicText);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: transparent;
    gap: 1rem;
    z-index: 1;
}
nav .logo {
    padding: 1rem;
    height: 100%;
}
nav .menu {
    right: 0%;
    padding: 1rem;
}
.menu button, .menu button .contact {
    padding: 0.7rem 1rem 0.7rem 1rem;
    margin-left: 1rem;
    font-family: 'Barlow', sans-serif;
    color: white;
    border: none;
    border-radius: 5rem;
}
.menu button {
    background-color: transparent;
}
.menu button:hover {
    cursor: pointer;
}
.menu .contact {
    background-color: white;
    color: var(--graphicText);
}
.menu .contact:hover {
    background-color: var(--grayBlue);
    color: white;
}
.menu button:hover {
    cursor: pointer;
}
.block-1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-1 {
    position: relative;
    width: 100%;
    object-fit: cover;
}
h1 {
    position: relative;
    text-align: center;
    justify-content: center;
    top: 30%;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}
.arrow {
    position: relative;
    top: 50%;
    left: 50%;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #fff;
    padding: 5rem;
}
.grid-2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--yellow);
}
.grid-2 img, .grid-3 img {
    width: 100%;
}
.grid-3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--softRed);
    padding: 5rem;
}
.grid-4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fff;
}
.grid-5 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100%;
}
.grid-6 {
    grid-area: 3 / 2 / 4 / 3;
    background-image: url(images/desktop/image-photography.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 100%;
}
.grid-1 h2, .grid-4 h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.grid-1 p, .grid-4 p {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: var(--darkGrayBlue);
    margin-bottom: 2rem;
}
.more a {
    text-decoration: none;
    color: black;
}
.more {
    display: inline-block;
    height: 0.3rem;
    width: fit-content;
    background-color: var(--yellow);
    border-radius: 50px;
}


.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid-7 { grid-area: 1 / 1 / 2 / 2; }
.grid-8 { grid-area: 1 / 2 / 2 / 3; }
.grid-9 { grid-area: 1 / 3 / 2 / 4; }
.grid-10 { grid-area: 1 / 4 / 2 / 5; }

.attribution {
    font-size: 11px;
    text-align: center; }
.attribution a {
    color: hsl(228, 45%, 44%);
}