@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@1,9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body {
    display: block;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
/*.center {
    display: block;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;

    position: absolute;
    transform: translate(-50%, -50%);
}*/
.container {
    display: flex;
    width: 800px;
    border-radius: 10px;
    background-color: rgb(237, 251, 237);
    justify-content: center;
    align-items: center;
}
.container .img {
    width: 400px;
    border-radius: 10px 0 0 10px;
}
.info {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
    letter-spacing: 2px;
}
.info h1 {
    font-family: 'Fraunces', serif;
}

.info h2 {
    font-family: 'Montserrat', sans-serif;
}
.info p {
    letter-spacing: 10px;
}
.cut-price {
    display: flex;
    align-items: center;
}
.cut-price h2 {
    font-size: 1.8rem;
    color: rgb(87, 124, 87);
    padding: 0 20px;
    font-family: 'Fraunces', serif;
}
.cart {
    background-color: rgb(87, 124, 87);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart:hover{
    background-color: rgb(26, 60, 26);
    cursor: pointer;
}
.uil-shopping-cart-alt {
    padding: 0 5px;
}
้h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
    font-weight: 200;
}
.attribution p {
    display: block;
    font-size: 0.7rem;
    text-align: center;
    padding: 30px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:500px) {
    .alignwide {
       width: 100% !important;
    }
}