@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
:root {
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
    
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));

    --youTube: hsl(348, 97%, 39%);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    background-color: var(--bgColor);
    color: var(--text-1);
    border: none;
}
h1 {
    color: var(--text-1);
    font-size: 3rem;
}
h2 {
    color: var(--text-1);
    font-size: 2rem;
}
h3 {
    color: var(--text-1);
    font-size: 1.5rem;
}
h4 {
    color: var(--text-1);
    font-size: 1.2rem;
}
h5 {
    color: var(--text-2);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
p {
    color: var(--text-2);
    font-size: 0.8rem;
}
.bgpattern {
    background-color: var(--bgPattern);
    width: 100%;
}
.section {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 0 5rem 3rem 5rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}
.dashboard {
    width: 100%;
    text-align: left;
}
.theme {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 15rem;
}
/* Styling for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}
.toggle-checkbox {
    display: none;
}
.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: #bdc3c7;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.toggle-handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--bgColor);
    transition: transform 0.2s ease-in-out;
}
  
.toggle-checkbox:checked + .toggle-label {
    background-color: #7ed321;
}
.toggle-checkbox:checked + .toggle-label .toggle-handle {
    transform: translateX(26px);
}
.grid-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--cardBG);
    border-radius: 0.5rem;
    padding: 1rem 3rem 1rem 3rem;
    gap: 1.5rem;
}
#card-fb {
    border-top: 0.3rem solid var(--facebook);
}
#card-tw {
    border-top: 0.3rem solid var(--twitter);
}
#card-ig {
    border-top: 0.4rem solid var(--instagram);
}
#card-yt {
    border-top: 0.4rem solid var(--youTube);
}
.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.follower {
    text-align: center;
}
.compare-up, .compare-down {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.compare-up {
    color: var(--limeGreen);
}
.compare-down {
    color: var(--brightRed);
}
.overview {
    left: 0;
}

footer {
    bottom: 0;
    font-size: 0.8rem;
    margin: 1rem;
}
footer a {
    font-size: 0.8rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        --bgColor: hsl(230, 17%, 14%);
        --bgPattern: hsl(232, 19%, 15%);
        --cardBG: hsl(228, 28%, 20%);
        --text-1: white;
        --text-2: hsl(228, 34%, 66%);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
        --toggle: hsl(230, 22%, 74%);
        --bgColor: white;
        --bgPattern: hsl(225, 100%, 98%);
        --cardBG: hsl(227, 47%, 96%);
        --text-1: hsl(230, 17%, 14%);
        --text-2: hsl(228, 12%, 44%);
    }
  }
  

@media screen and (max-width: 600px) {
}


 