@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    color: var(--ligthCyan);
    margin: 0;
    padding: 0;
}
:root {
    --ligthCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);

    --grayBlue: hsl(217, 19%, 38%);
    --darkGrayBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}
body {
    font-size: 28px;
    background-color: var(--darkBlue);
    min-height: 100vh;
}
.card {
    display: block;
    text-align: center;
    background-color: var(--darkGrayBlue);
    border-radius: 20px;
    max-width: 400px;
    margin: 2rem auto 0 auto;
    padding: 2rem;
}
p, #advice-number {
    font-size: 0.5em;
    color: var(--neonGreen);
    letter-spacing: 0.3em;
    margin-bottom: 2em;
}
.advice-text {
    color:hsl(193, 38%, 86%);
}
.deco {
    width: 100%;
}
#dice {
    display: block;
    position: relative;

    border: none;
    background-color: var(--neonGreen);
    height: 50px;
    width: 50px;
    margin: -25px auto 10px auto;
    border-radius: 50%;
    padding: 4px 1px 0 2px;
    cursor: pointer;
}
#dice img {
    height: 20px;
    width: 20px;
}
#dice:hover {
    box-shadow: 0 0 20px var(--neonGreen);
    transition: 0.3s;
}
.attribution {
    font-size: 11px;
    text-align: center;
    padding: 4em;
    margin: 0;
}
.attribution a {
    color: var(--ligthCyan);
}